.edge-button {
    -fx-border-radius-color:#0652DD;
    -fx-background-radius: 50px 50px 50px 50px;
}
.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #6ab04c,#7ed6df);//#6ab04c,#7ed6df
}
.
